%li
  .block 
    / { class: item.has_children? ? 'btn-info': '' }
    %span
      %strong Название:
      %span.badge.badge-success= item.name
    %span
      %strong УРЛ:
      %span.badge.badge-info= item.slug
    %span
      %strong Сорт.:
      %span.badge.badge-inverse= item.position

      = link_to "Редактировать", edit_admin_menu_menu_item_path(@menu.id, item.id), class: 'edit-menu-item-btn'
      |
      = link_to "Удалить", admin_menu_menu_item_path(@menu.id, item.id), class: 'delete-menu-item-btn', method: :delete
  - if item.has_children?
    %ul
      - item.children.each do |child|
        = render 'item', item: child    