%h1 Редактирование участника

= simple_nested_form_for(@member, url: admin_member_path(@member)) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :country
  = f.input :city
  = f.input :email
  = f.input :phone
  = f.input :birth_year
  = f.input :nomination_id, as: :select, collection: Nomination.published, include_blank: false
  = f.input :bid_state_id, as: :select, collection: @bid_states, include_blank: false
  = f.input :competition_state_id, as: :select, collection: @competition_states, include_blank: false
  
  %h3 Работы
  
  = f.simple_fields_for :pictures do |p|
    %h4 Работа
    = p.input :description, input_html: { rows: 5, cols: 60 }
    = p.input :create_year
    = p.input :size
    = p.input :technique
    = p.input :file, as: :image_preview
    = p.link_to_remove "Remove picture"
  
  = f.link_to_add "Add picture", :pictures
  = f.submit 
  