<section class="wrap-filter-work">
  <div class="wrap overflow">
  	<h1><%= t l_title %></h1>
  	<button class="button-toggle-filter"><span><%= t 'web.members.index.filter' %></span></button>
  </div>
  <div class="filter-work">
    <%= search_form_for (@q) do |f| %>
  		<div class="filter-work-nominations">
        <h2><%= t 'web.members.index.nominations' %></h2>
        <ul>
        <% @nominations.each do |n| %>
          <li>
            <%= check_box_tag 'q[nomination_id_in][]', n.id %>
            <%= f.label n.name %>
          </li>
        <% end %>
        </ul>
      </div>
  		<div class="filter-work-years">
  			<h2><%= t 'web.members.index.years' %></h2>
        <ul>
          <% @years.each do |y| %>
          <li>
            <%= check_box_tag "q[year_in][]", y %>
            <%= f.label y %>
          </li>
          <% end %>
        </ul>
      </div>
  		<div class="filter-work-authors">
  			<h2><%= t 'web.members.index.authors' %></h2>
  			<div class="filter-live-search">
          <%= f.text_field :first_name_or_last_name_cont %>
  			</div>
  		</div>
      
  		<input type="submit" class="button button-filter" value="<%= t 'web.members.index.filter_btn' %>">
      <!-- <%= link_to t('web.members.index.show_all_btn'), members_path, class: 'button button-show-all' %> -->
      <!-- <input type="submit" class="button button-show-all" value="Показать все"> -->
    <% end %>
  </div>
  </section>
  <section class="wrap">
  	<section class="b-stat-work">
      <% @members.each do |m| %>
          <% m.pictures.each_with_index do |p, i| %>
            <% if p.file.url %>
        		<ul class="b-stat-work<%= p.gallery_type %>">
        			<li class="b-stat-work-picture">
        				<span class="b-stat-work-frame"></span>
                <a class="fancybox" rel="group" href="<%= p.file.url %>">
          				<img src="<%= p.file.gallery.url %>" width="<%= p.gallery_width %>" height="<%= p.gallery_height %>" alt="" title="">
              </a>
        			</li>
        			<li class="b-stat-work-picture-name"><%= p.description %></li>
        			<li class="b-stat-work-author"><%= link_to m.fio, member_path(m) %></li>
        			<li><%= m.city %></li>
        		</ul>
            <% end %>
          <% end %>
      <% end %>
  </section>
</section>
