/ 
/ <section class="wrap-forms">
/   <div class="web-form web-form-register">
/     <h2>Регистрация участника</h2>
/     <div class="form-line">
/       <input type="text" class="input-lastname" placeholder="Фамилия" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-name" placeholder="Имя" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-birthday" placeholder="Год рождения" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-country" placeholder="Страна" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-city" placeholder="Город" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-phone" placeholder="Телефон" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-email" placeholder="E-mail" />
/     </div>
/     <div class="form-line form-line-photo">
/       <span class="load-photo-preview active"></span>
/       <div class="load-photo"></div>
/     </div>
/     <div class="form-line">
/       <input class="button button-save" type="submit" value="Сохранить" />
/     </div>
/   </div>
/ 
/   <div class="web-form web-form-load-pictures">
/     <h2>Загрузить картины</h2>
/     <div class="scroll-pane horizontal-only form-line form-line-photo">
/       <div class="form-line form-line-photo">
/         <span class="load-photo-preview active"></span>
/         <span class="load-photo-preview"></span>
/         <span class="load-photo-preview"></span>
/         <span class="load-photo-preview"></span>
/       </div>
/     </div>
/ 
/     <div class="form-line form-line-load-photo">
/       <div class="load-photo"></div>
/     </div>
/     <div class="form-line">
/       <textarea placeholder="Описание картины"></textarea>
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-year-create" placeholder="Год создания" />
/     </div>
/     <div class="form-line">
/       <input type="text" class="input-year-size" placeholder="Размер картины (см)" />
/     </div>
/     <div class="form-line input-technics">
/       <select>
/         <option value="1">Техника исполнения</option>
/         <option value="2">Натюрморт</option>
/         <option value="3">Пейзаж</option>
/       </select>
/     </div>
/     <div class="form-line">
/       <input class="button button-save" type="submit" value="Загрузить" />
/     </div>
/   </div>
/ 
/   <div class="wrap-button-register">
/     <input class="button button-register" type="submit" value="Зарегистрироваться" />
/   </div>
/ 
/ </section>
	
- if flash[:notice]
  %section.wrap
    %h1= t l_title
    %p= flash[:notice]
- else
  %section.wrap
    %h1= t l_title
    %p= t l_sub_title
  %section.wrap-forms  
    = simple_nested_form_for(@member, html: { id: 'form-apply' } ) do |f|
      .web-form.web-form-register
        %h2= t "#{l_route_key}.member_registration_title"
        = f.input :first_name, label: false, placeholder: t_new_member_field(:first_name), wrapper_html: { class: "form-line" }, input_html: { class: "input-name" }
        = f.input :last_name, label: false, placeholder: t_new_member_field(:last_name), wrapper_html: { class: "form-line" }, input_html: { class: "input-lastname" }
        = f.input :birth_year, label: false, placeholder: t_new_member_field(:birth_year), wrapper_html: { class: "form-line" }, input_html: { class: "input-birthday" }
        = f.input :country, as: :string, label: false, placeholder: t_new_member_field(:country), wrapper_html: { class: "form-line" }, input_html: { class: "input-country" }
        = f.input :city, label: false, placeholder: t_new_member_field(:city), wrapper_html: { class: "form-line" }, input_html: { class: "input-city" } 
        = f.input :phone, as: :string, label: false, placeholder: t_new_member_field(:phone), wrapper_html: { class: "form-line" }, input_html: { class: "input-phone" }
        = f.input :email, as: :string, label: false, placeholder: t_new_member_field(:email), wrapper_html: { class: "form-line" }, input_html: { class: "input-email" }
        = f.input :nomination_id, as: :select, collection: Nomination.published, label: false, include_blank: false, wrapper_html: { class: "form-line" }
    
    
      .web-form.web-form-load-pictures
        %h2= t "#{l_route_key}.upload_picture_title"
        .scroll-pane.horizontal-only
          .form-line.form-line-photo
            %span.load-photo-preview.active.next
            %span.load-photo-preview
            %span.load-photo-preview
            %span.load-photo-preview

        .form-line.form-line-load-photo
          .load-photo{ :"data-title" => t("#{l_route_key}.select_picture_btn") }

        = f.simple_fields_for :pictures do |picture_form|
          = picture_form.input :description, label: false, placeholder: t_new_member_picture_field(:description), wrapper_html: { class: "form-line" }, input_html: { class: 'input-desc-picture' }
          = picture_form.input :create_year, label: false, placeholder: t_new_member_picture_field(:create_year), wrapper_html: { class: "form-line" }, input_html: { class: "input-year-create" } 
          = picture_form.input :size, label: false, placeholder: t_new_member_picture_field(:size), wrapper_html: { class: "form-line" }, input_html: { class: "input-year-size" } 
          = picture_form.input :technique, label: false, placeholder: t_new_member_picture_field(:technique), wrapper_html: { class: "form-line" }, input_html: { class: "input-technics" } 
          /= picture_form.input :file, as: :file
          /= picture_form.link_to_remove "Remove picture"
      
      / = f.link_to_add "Add picture", :pictures
      .wrap-button-register
        = f.submit t("#{l_route_key}.register_btn"), class: "button button-register" 