%ul
  - @items.each_with_index do |item, i|
    - if item.has_children?
      %li{ :class => "item#{i + 1} sub-menu" }
        = link_to '#' do  #page_path(locale: locale, slug: item.slug) do
          %span
            = item.name
        %ul
          - item.children.order(:position).each do |child|
            %li
              = link_to child.name, page_path(locale: locale, slug: child.slug)
    - else
      %li{ :class => "item#{i + 1}" }
        %span
          = link_to item.name, page_path(locale: locale, slug: item.slug)