%h1 Редактирование настроек сайта
= simple_form_for(:settings, url: admin_settings_path, multipart: true) do |f|
  = f.input :site_name, input_html: { class:'input-xxlarge', value: @settings[:site_name] }, label: false, placeholder: 'Название сайта'

  = f.input :phone, input_html: { class:'input-xxlarge', value: @settings[:phone] }, as: :tel, label: false, placeholder: 'Телефон'
  = f.input :email, input_html: { class:'input-xxlarge', value: @settings[:email] }, as: :email, label: false, placeholder: 'Email'
  
  = f.input :vkontakte_url, input_html: { class:'input-xxlarge', value: @settings[:vkontakte_url] }, label: false, placeholder: 'Ссылка на страницу Vkontakte'
  = f.input :facebook_url, input_html: { class:'input-xxlarge', value: @settings[:facebook_url] }, label: false, placeholder: 'Ссылка на группу Facebook'
  = f.input :twitter_url, input_html: { class:'input-xxlarge', value: @settings[:twitter_url] }, label: false, placeholder: 'Ссылка на ленту Twitter'
  = f.input :show_main_page_gallery, input_html: { class:'input-xxlarge', value: @settings[:show_main_page_gallery] }, label: false, placeholder: 'Показывать галерею на главной странице? (yes/no)'

  / %img{ :src => "/#{@settings[:logo]}" }
  / = f.input :logo, input_html: { value: @settings[:logo] }, as: :file
  / 
  / %img{ :src => "/#{@settings[:header_image]}" }
  / = f.input :header_image, input_html: { value: @settings[:header_image] }, as: :file
  /  
  / = f.input :emergency_call, input_html: { value: @settings[:emergency_call] }, as: :text, label: false, placeholder: 'Экстренное объявление'
  / = f.input :emergency_call_enabled, input_html: { value: @settings[:emergency_call_enabled] }, label: "Показать экстренное объявление"
  /  
  = f.submit 'Сохранить настройки', class: 'btn btn-primary'