<% if !@page.content.blank? %>
  <%= @page.content.html_safe %>
<% end %>

<% if false %>
<section class="wrap wrap-laureate">
  <h1>ЛАУРЕАТЫ 2012 ГОДА</h1>
  <span class="prev-laureate"></span>
  <span class="next-laureate"></span>
  <div class="scroll-pane horizontal-only">
    <div class="b-wrap-laureate-item">
      <div class="b-laureate-item">
        <% if !@pictures_group1.blank? %>
          <% @pictures_group1.each_with_index do |p, i| %>
            <% if !p.blank? %>
            <div class="b-laureate b-laureate<%= p.main_page_type %>">
              <div class="b-laureate-frame">
								<a class="fancybox" rel="group" href="<%= p.file.url %>">
                  <img src="<%= p.file.main_page.url %>" width="<%= p.main_page_width %>" height="<%= p.main_page_height %>" alt="" title="" />
                </a>
                <div class="b-laureate-desc">
                  <span class="b-laureate-desc-author"><%= p.member.fio %>,</span>
                  <span class="b-laureate-desc-city"><%= p.member.city %></span>
                  <span class="b-laureate-desc-picture"><%= p.description %></span>
                </div>
              </div>
            </div>      
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="b-laureate-item">
        <% if !@pictures_group2.blank? %>
          <% @pictures_group2.each_with_index do |p, i| %>
            <% if !p.blank? %>
            <div class="b-laureate b-laureate<%= p.main_page_type %>">
              <div class="b-laureate-frame">
								<a class="fancybox" rel="group" href="<%= p.file.url %>">
                  <img src="<%= p.file.main_page.url %>" width="<%= p.main_page_width %>" height="<%= p.main_page_height %>" alt="" title="" />
                </a>
                <div class="b-laureate-desc">
                  <span class="b-laureate-desc-author"><%= p.member.fio %>,</span>
                  <span class="b-laureate-desc-city"><%= p.member.city %></span>
                  <span class="b-laureate-desc-picture"><%= p.description %></span>
                </div>
              </div>
            </div>          
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>